@using BoardMan.Web.Infrastructure.Extensions
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Board
@{
    ViewData["Title"] = "View Board";
}

<h1>@ViewData["Title"]</h1>

<h3>@Model.Title</h3>
<p>@Model.Description</p>
<h3>Lists & Tasks</h3>

<div id="listsTable"></div>

@section Css
{
	<link href="@Url.Content("~/lib/jquery-ui-1.13.1/jquery-ui.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/lib/jtable.2.4.0/themes/metro/blue/jtable.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="~/lib/jquery-ui-1.13.1/jquery-ui.js"></script>
    <script src="~/lib/jtable.2.4.0/jquery.jtable.js"></script> 

    <script type="text/javascript">
        $(function () {
        $('#listsTable').jtable({
                sorting: false,
				multiSorting: false,
				columnSelectable: false,				
				AntiForgeryToken: '@Html.AntiForgeryTokenValue()',
				actions: {
					listAction: '/Lists/GetListsByBoardId?boardId=@Model.Id',
                    deleteAction: '/Lists/DeleteList',
                    updateAction: '/Lists/UpdateList',
                    createAction: '/Lists/CreateList'
				},
				fields: {
                    BoardId: {
                        type: 'hidden',
                        defaultValue: '@Model.Id'
                    },
                    Id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
					Title: {
						title: 'Title'
					},
					Description: {
						title: 'Description'
					}                     
				}				
            }).jtable('load');
        });
    </script>
}