@using BoardMan.Web.Controllers
@using BoardMan.Web.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@model SubscriptionNotificationVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        if(Model.SubscriptionStatus == SubscriptionStatus.NoSubscriptionAvailable || Model.PriorPlanId == null)
        {
            <div class="lead">
                You havent subscribed yet, please subscribe using any of these <a asp-controller="@(ControllerUtils.GetControllerName<PlansController>())" asp-action="@nameof(PlansController.Index)">plans</a>
            </div>
        }
        else
        {
            if(Model.SubscriptionStatus == SubscriptionStatus.SubscriptionAboutToExpire)
            {
                <div>
                    Your plan is about to expire, please renew the subscription using the same <a asp-controller="Home" asp-action="Index">plan</a> or any of these <a asp-controller="@(ControllerUtils.GetControllerName<PlansController>())" asp-action="@nameof(PlansController.Index)">plans</a>
                </div>
            }
            else
            {
                <div>
                    Your plan has expired, please renew the subscription using the same <a asp-controller="Home" asp-action="Index">plan</a> or any of these <a asp-controller="@(ControllerUtils.GetControllerName<PlansController>())" asp-action="@nameof(PlansController.Index)">plans</a>
                </div>
            }
        }

    }
</div>
