@using BoardMan.Web.Controllers
@model BuyPlanVM

@{
    ViewData["Title"] = "Buy";
}

<div class="row">
    <form id="paymentForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2>Plan details</h2>
        <hr />
        <input asp-for="PlanId" type="hidden"/>
        <input asp-for="PaymentKey" type="hidden"/>
    <div>        
        <label asp-for="PlanName"></label>
        <label class="form-control">@Model.PlanName</label>        
    </div>
    <div>        
        <label asp-for="PlanDescription"></label>
        <label class="form-control">@Model.PlanDescription</label>
    </div>
     <div>
         <label asp-for="CostDisplay"></label>
        <label class="form-control" id="costDisplayLbl">@Model.CostDisplay</label>
    </div>

    <h2>Billing details</h2>
    <hr />    
    <div class="form-group">
        <label asp-for="UserFirstName"></label>
        <input asp-for="UserFirstName" class="form-control" aria-required="true" />        
        <span asp-validation-for="UserFirstName" class="text-danger"></span>
    </div>
     <div class="form-group">
         <label asp-for="UserLastName"></label>
        <input asp-for="UserLastName" class="form-control" aria-required="true" />        
        <span asp-validation-for="UserLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserEmail"></label>
        <input asp-for="UserEmail" class="form-control" aria-required="true" />        
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingDetails.AddressLine1"></label>
        <input asp-for="BillingDetails.AddressLine1" class="form-control" aria-required="true" />        
        <span asp-validation-for="BillingDetails.AddressLine1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingDetails.AddressLine2"></label>
        <input asp-for="BillingDetails.AddressLine2" class="form-control"/>        
    </div>
    <div class="form-group">
        <label asp-for="BillingDetails.City"></label>
        <input asp-for="BillingDetails.City" class="form-control" aria-required="true" />        
        <span asp-validation-for="BillingDetails.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingDetails.State"></label>
        <input asp-for="BillingDetails.State" class="form-control" aria-required="true" />        
        <span asp-validation-for="BillingDetails.State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingDetails.ZipCode"></label>
        <input asp-for="BillingDetails.ZipCode" class="form-control" aria-required="true" />        
        <span asp-validation-for="BillingDetails.ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BillingDetails.Country"></label><br/>
        <select asp-for="BillingDetails.Country" asp-items="@Model.BillingDetails.Countries" aria-required="true" ></select>        
        <span asp-validation-for="BillingDetails.Country" class="text-danger"></span>
    </div>

    <h2>Payment details</h2>
    <hr />
     <div class="form-group">
         <label>Card details</label>
         <div class="stripe-element" id="card-element">
             <!-- A Stripe Element will be inserted here. -->
         </div>
         <!-- Used to display form errors. -->
         <div id="card-errors" class="payment-modal-error-message" role="alert">
         </div>
     </div>
      <div class="form-group">
        <input asp-for="BillingDetails.NameAsOnCard" class="form-control" aria-required="true" />
        <label asp-for="BillingDetails.NameAsOnCard"></label>
        <span asp-validation-for="BillingDetails.NameAsOnCard" class="text-danger"></span>
    </div>
    <button id="paySubmit" type="submit" class="w-100 btn btn-lg btn-primary">Pay</button>
    <a asp-controller="@(ControllerUtils.GetControllerName<PlansController>())" asp-action="@nameof(PlansController.Index)" >Back to all Plans</a>
    </form> 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
       $(document).ready(function() {
            document.getElementById("paymentForm").onsubmit = (e) => submitForPayment(e);
            initStripeElements();
            $("#paySubmit").text("Pay " + $("#costDisplayLbl").text());
        });

        function submitForPayment(event) {
            event.preventDefault();
            if (!$("#paymentForm").valid()) {
                return;
            }

            var paymentIntentRequest = {
                planId: orderModel.planId,
                currency: orderSummaryModel.currency,
                userId: customerModel.userId,
                billingDetail: {
                    customerEmail: customerModel.customerEmail,
                    customerName: customerModel.customerName,
                    line1: customerModel.addressLine1,
                    line2: customerModel.addressLine2,
                    city: customerModel.city,
                    state: customerModel.state,
                    postalCode: customerModel.postalCode,
                    countryCode: customerModel.countryCode
                }
            };

            createPaymentIntent(paymentIntentRequest).then(onCreatePaymentIntent)
                .catch(function(error) {
                    console.log(error);
                });
        }

        function initStripeElements() {
            try {
                window.stripe = Stripe($("#PaymentKey").val());
                var elements = window.stripe.elements();

                // Custom styling can be passed to options when creating an Element.
                // (Note that this  uses a wider set of styles than the guide.)

                var style = {
                    base: {
                        color: "#32325d",
                        fontFamily: "-apple-system, BlinkMacSystemFont, sans-serif",
                        fontSmoothing: "antialiased",
                        fontSize: "16px",
                        "::placeholder": {
                            color: "#aab7c4"
                        }
                    },
                    invalid: {
                        color: "#fa755a",
                        iconColor: "#fa755a"
                    }
                };

                // Create an instance of the card Element.
                window.card = elements.create("card", {
                    style: style
                });

                // Add an instance of the card Element into the `card-element` <div>.
                window.card.mount("#card-element");
            } catch (error) {
                console.log(error);
            }
        }
    </script>
}

